.site-header {
    background-color: rgba(0, 0, 0, .75);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    font-family: 'Handlee', cursive;
  }
  .site-header a {
    color: #fff;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #999;
    text-decoration: none;
  }
  .site-header .navbar-brand {
    color: #fff;
  }